/* update fo disable */

.coa-select-container.is-disabled>.Select-control>.Select-multi-value-wrapper>.Select-value>.Select-value-label {
    color: #777777 !important;
}

/* update for height */

.coa-select-container>.Select-control>.Select-multi-value-wrapper>.Select-input {
    height: 25px !important;
}

/* update for line height */

.coa-select-container>.Select-value {
    line-height: 25px !important;
}