


.react-select-container{
    width: 180px;
    .react-select__control--is-focused{
      outline:2px dotted #333333 !important;
      outline-offset:1px;
      }
  }
  
 
  
  
  .react-select__option:hover{
  background-color: rgb(245,245,255);
  }
  .react-select__option--is-focused{
    background-color: rgb(245,245,255);
    }
    .react-select__control{
      border-color: silver;
    }
  
   

  
  
    .react-select__menu{
      background: white;
      border-radius: 0 ;
    }