body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
  width: 50%;
  padding: 10% 20%;
}

/* update fo disable */

.coa-select-container.is-disabled>.Select-control>.Select-multi-value-wrapper>.Select-value>.Select-value-label {
  color: #777777 !important;
}

/* update for height */

.coa-select-container>.Select-control>.Select-multi-value-wrapper>.Select-input {
  height: 25px !important;
}

/* .react-select-container {
  width: 180px;
  height: 25px;
  max-height: 25px;
}

.react-select__control {
  min-height: 10px !important;
  height: 25px;
  border-color: silver;
}

.react-select__value-container {
  height: 25px;
  position: unset !important;
}

.react-select__indicators {
  height: 25px;
  max-height: 25px;
}

.react-select__dropdown-indicator {
  height: 25px;
  max-height: 25px;
  padding: 2px !important;
  color: black;
} */

/* .react-select-container--is-focused{
  width: 180px;
  outline:2px dotted #333333 !important;
  outline-offset:1px;
} */

/* use this to style the focus thing */

/* .react-select-container .react-select__control--is-focused {
  outline: 2px dotted #333333 !important;
  outline-offset: 1px;
}

.react-select__option:hover {
  background-color: rgb(245, 245, 255);
}

.react-select__option--is-focused {
  background-color: rgb(245, 245, 255);
}

.react-select__menu {
  background: white;
  border-radius: 0;
} */

/* for overflow hidden */

/* .react-select__menu-list {
  overflow-x: hidden;
}

.react-select--is-disabled {
  color: silver;
} */