.pmnet-card-image{
    width:144px;
    height:88px;
    background: no-repeat 0px 0px;
}
.pmnet-card-app-container{
    background-color:#FFFFFF;
    margin: 0 auto !important;
    padding:15px 15px 0 !important;
    text-align: left;
    width:930px !important;
    font-family:arial !important;
    color:#333;
    font-size: 11px !important;

background: #bcbcbc;
background-color: #bcbcbc;

}
.pmnet-card-container{

}

.pmnet-content-buttons>button{
    margin-right: 40px;
}